<?xml version='1.0' encoding='UTF-8'?>
<web-app xmlns='http://java.sun.com/xml/ns/j2ee'
         xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
         xsi:schemaLocation='http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd'
         version='2.4'>

    <display-name>Arwo</display-name>
    <description>Arwo Web Application</description>

    <!--webapp initialization-->
    <servlet>
        <description>manages existence of webapp state during webapp lifetime</description>
        <servlet-name>NamingServlet</servlet-name>
        <servlet-class>io.github.greyp9.arwo.app.naming.servlet.NamingServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>depends(NamingServlet), java.util.concurrent.ExecutorService for webapp tasks</description>
        <servlet-name>ExecutorServlet</servlet-name>
        <servlet-class>io.github.greyp9.arwo.app.exec.servlet.ExecutorServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <description>depends(ExecutorServlet), initialize webapp realm at webapp startup</description>
        <servlet-name>RealmServlet</servlet-name>
        <servlet-class>io.github.greyp9.arwo.app.realm.servlet.RealmServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <description>depends(NamingServlet), initialize webapp state at webapp startup</description>
        <servlet-name>AppServlet</servlet-name>
        <servlet-class>io.github.greyp9.arwo.app.lifecycle.servlet.AppLifecycleServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet>
        <description>depends(AppServlet), initialize connection monitor at webapp startup</description>
        <servlet-name>DaemonServlet</servlet-name>
        <servlet-class>io.github.greyp9.arwo.app.daemon.connect.servlet.ConnectionServlet</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>

    <!--users document-->
    <servlet>
        <description>specify valid users for webapp</description>
        <servlet-name>Xed1Servlet</servlet-name>
        <servlet-class>io.github.greyp9.arwo.app.xed.servlet.Xed1Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Xed1Servlet</servlet-name>
        <url-pattern>/users/*</url-pattern>
    </servlet-mapping>

    <!--filter document-->
    <servlet-mapping>
        <servlet-name>Xed1Servlet</servlet-name>
        <url-pattern>/filter/*</url-pattern>
    </servlet-mapping>

    <!--locale document-->
    <servlet-mapping>
        <servlet-name>Xed1Servlet</servlet-name>
        <url-pattern>/locale/*</url-pattern>
    </servlet-mapping>

    <!--custom document-->
    <servlet-mapping>
        <servlet-name>Xed1Servlet</servlet-name>
        <url-pattern>/doc1/*</url-pattern>
    </servlet-mapping>

    <!--custom document-->
    <servlet-mapping>
        <servlet-name>Xed1Servlet</servlet-name>
        <url-pattern>/doc2/*</url-pattern>
    </servlet-mapping>

    <!--custom document-->
    <servlet-mapping>
        <servlet-name>Xed1Servlet</servlet-name>
        <url-pattern>/doc3/*</url-pattern>
    </servlet-mapping>

    <!--sftp-->
    <servlet>
        <description>dashboard</description>
        <servlet-name>DashServlet</servlet-name>
        <servlet-class>io.github.greyp9.arwo.app.dash.servlet.DashServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashServlet</servlet-name>
        <url-pattern>/dash/*</url-pattern>
    </servlet-mapping>

    <!--user favorites-->
    <servlet-mapping>
        <servlet-name>Xed1Servlet</servlet-name>
        <url-pattern>/fav/*</url-pattern>
    </servlet-mapping>

    <!--user settings-->
    <servlet-mapping>
        <servlet-name>Xed1Servlet</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>

    <!--sftp-->
    <servlet>
        <description>access remote sftp servers</description>
        <servlet-name>SFTPServlet</servlet-name>
        <servlet-class>io.github.greyp9.arwo.app.ssh.servlet.SFTPServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SFTPServlet</servlet-name>
        <url-pattern>/sftp/*</url-pattern>
    </servlet-mapping>

    <!--ssh-command-->
    <servlet>
        <description>access remote ssh servers</description>
        <servlet-name>SHServletSSH</servlet-name>
        <servlet-class>io.github.greyp9.arwo.app.ssh.servlet.SHServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SHServletSSH</servlet-name>
        <url-pattern>/ssh/*</url-pattern>
    </servlet-mapping>

    <!--webdav fs-->
    <servlet>
        <description>access remote webdav file servers</description>
        <servlet-name>WebDAVServlet</servlet-name>
        <servlet-class>io.github.greyp9.arwo.app.webdav.servlet.WebDAVServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebDAVServlet</servlet-name>
        <url-pattern>/webdav/*</url-pattern>
    </servlet-mapping>

    <!--local filesystem-->
    <servlet>
        <description>access web server filesystem</description>
        <servlet-name>LFSServlet</servlet-name>
        <servlet-class>io.github.greyp9.arwo.app.local.servlet.LFSServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LFSServlet</servlet-name>
        <url-pattern>/lfs/*</url-pattern>
    </servlet-mapping>

    <!--local-command-->
    <servlet>
        <description>access web server commands</description>
        <servlet-name>SHServletLocal</servlet-name>
        <servlet-class>io.github.greyp9.arwo.app.local.servlet.SHServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SHServletLocal</servlet-name>
        <url-pattern>/lsh/*</url-pattern>
    </servlet-mapping>

    <!--filesystem-->
    <servlet>
        <description>view ${user.home}</description>
        <servlet-name>FileSystemServlet</servlet-name>
        <servlet-class>io.github.greyp9.arwo.app.apptest.fs.servlet.FileSystemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileSystemServlet</servlet-name>
        <url-pattern>/home/*</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>arwo</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>

</web-app>
