body
{
background-color: Window;
}

/* START HEADER */

div.page-title
{
border: solid thin ThreeDShadow;
background-color: Highlight;
color: HighlightText;
font-family: sans-serif;
font-size: larger;
font-weight: bold;
padding: 0.4em;
}

div.page-title img
{
height: 24px;
width: 24px;
vertical-align: middle;
}

/* END HEADER */

/* START COMMAND */

div.command
{
border: solid thin ThreeDShadow;
margin: 1em 0 1em 0;
}

div.command-body
{
padding: 0.5em;
}

div.command-head, div.command-foot
{
border: solid thin ThreeDShadow;
background-color: InfoBackground;
color: InfoText;
margin: 0;
padding: 2px 4px;
font-family: monospace;
}

/* END COMMAND */

/* START RESULTS */

div.rowset-result
{
}

div.text-result
{
margin: 0 0 1em;
}

div.text-result-head
{
border: solid thin ThreeDShadow;
background-color: Highlight;
color: HighlightText;
font-family: sans-serif;
font-size: larger;
font-weight: bold;
mmargin: 0.5em 0.5em 0 0.5em;
padding: 0.4em;
}

div.text-result-body
{
border: solid thin ThreeDShadow;
background-color: InfoBackground;
color: InfoText;
padding: 0 0.5em;
}

div.text-result-body pre
{
margin: 0.5em 0em;
}

div.stdout
{
}

div.stderr
{
background-color: yellow;
color: black;
font-weight: bold;
}

div.extra
{
}

/* END RESULTS */
